// src/styles/components/_footer.scss
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

footer {
  width: 100%;
  max-width: 1040px;
  height: 447px;
  position: relative;
  margin: 0 auto;
  background-image: url("../assets/nutty_narrows_bottom.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  @include respond-to('b-1040') {
    height: auto;
    background: none;
  }

  svg {
    width: 100%;
    height: auto;
    display: block;
    fill: $dark-brown;
  }

  .cls-1 {
    fill: $dark-brown;
  }

  p {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 3.5rem 1rem 2rem;
    text-align: center;
    font-size: 0.875rem;
    @include respond-to('b-1040') {
      position: static;
      transform: none;
      //left: 0;
      padding: 0 0 0 20px;
      text-align: left;
    }
  }

} // header