// src/styles/components/_header.scss
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

header {
  width: 100%;
  max-width: 1040px;
  height: 123px;
  position: relative;
  margin: 0 auto;
  background-image: url("../assets/nutty_narrows_top_no_text.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  @include respond-to('b-1040') {
    height: auto;
    background: none;
  }

  svg {
    width: 100%;
    height: auto;
    display: block;
    fill: $dark-brown;
  }

  .cls-1 {
    fill: $dark-brown;
  }

} // header