@use "./variables" as *;
@use "../utils/mixins" as *;

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $tan;
  font-family: $font-regular;
  font-size: 16px;
  font-weight: $weight-regular;
  line-height: 1.55;
}

a {
  text-decoration: none;
  &:hover,
  &:focus-visible {
    text-decoration: underline;
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $stiletto;
  font-family: $font-heading;
  font-weight: $weight-heading;
  line-height: 1;
}

strong {
  font-weight: $weight-bold;
}

input,
textarea,
select {
  padding: 0.6rem 0.75rem 0.5rem;
  font-family: inherit;
  font-size: 1rem;

  &:focus-visible {
    outline: 2px solid $piper;
    outline-offset: 2px;
  }
}

button {
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:focus {
    outline: 2px solid $piper;
    outline-offset: 2px;
  }

  &:active {
    outline: 2px solid $piper;
    outline-offset: 2px;
  }

  &:disabled {
    background: $black;
    cursor: not-allowed;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-main {
  width: 100%;
  max-width: 1040px;
  position: relative;
  padding-left: 116px;
  margin: 0 auto;
  background-image: url("../assets/nutty_narrows_middle.svg");
  background-repeat: repeat-y;
  background-position: top center;
  background-size: 100% auto;

  @include respond-to('b-1040') {
    padding: 0 20px 0 20px;
    background: none;
  }
}

.vm-content-window {
  position: relative;
  z-index: 1;
  //padding: 3rem 3rem 2rem;
}

#Machine_Top, #Machine_Middle, #Machine_Bottom {
  fill: $dark-brown;
}