// src/styles/utils/_variables.scss
@use "sass:map";
@use "sass:meta";

$black: #121212;
$kumera: #916828;
$piper: #D06729;
$putty: #E5D890;
$raw-sienna: #D2863A;
$stiletto: #D06729;
$white: #FFFFFF;

$tan: #D5C3B1;
$dark-brown: #916828;
//#bca48b;
//#7d521f;
//#683d16;


$font-regular: "yrsa", serif;
$font-heading: "pinecone-mvb-rough2", sans-serif;

$weight-regular: 400;
$weight-bold: 700;
$weight-heading: 400;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'b-1040': (max-width: 1040px),
);
